<div style="padding: 15px;">
    <div class="row">
        <div class="col-sm-12 spacing">
            <button class="btn btn-success" ng-click="EditMovie.openAddNewRelease()">Add Release</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 spacing">
            <label>Movie Name</label>
            <input type="text" class="form-control" ng-model="EditMovie.movie.name">
        </div>
        <div class="col-sm-12 spacing">
            <label>Poster Url</label>
            <input type="text" class="form-control" ng-model="EditMovie.movie.poster">
        </div>
        <div class="col-sm-12">
            <div class="row" ng-repeat="release in EditMovie.movie.release" style="border-top: 2px solid #ccc; padding-top: 15px;">
                <div class="col-sm-6 spacing">
                    <label>Country</label>
                    <input type="text" class="form-control" ng-model="release.country">
                </div>
                <div class="col-sm-6 spacing">
                    <label>Date</label>
                    <input type="date" class="form-control" ng-model="release.date">
                </div>
                <div class="col-sm-6 spacing">
                    <label>Director</label>
                    <span class="badge" ng-repeat="director in release.directorName track by $index" style="margin-right: 5px;" ng-if="release.directorName.length">
                        {{director}}
                        <i class="far fa-times-circle" style="cursor: pointer;" ng-click="EditMovie.removeEntry($index, release.directorName)"></i>
                    </span>
                    <form ng-submit="directorName = EditMovie.addEntry(directorName, release.directorName)" ng-init="directorName = null;">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Director Name" ng-model="directorName">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Add</button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 spacing">
                    <label>Producer</label>
                    <span class="badge" ng-repeat="producer in release.producerName track by $index" style="margin-right: 5px;" ng-if="release.producerName.length">
                        {{producer}}
                        <i class="far fa-times-circle" style="cursor: pointer;" ng-click="EditMovie.removeEntry($index, release.producerName)"></i>
                    </span>
                    <form ng-submit="producerName = EditMovie.addEntry(producerName, release.producerName)" ng-init="producerName = null;">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Producer Name" ng-model="producerName">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Add</button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 spacing">
                    <label>Actor</label>
                    <span class="badge" ng-repeat="actor in release.actorName track by $index" style="margin-right: 5px;" ng-if="release.actorName.length">
                        {{actor}}
                        <i class="far fa-times-circle" style="cursor: pointer;" ng-click="EditMovie.removeEntry($index, release.actorName)"></i>
                    </span>
                    <form ng-submit="actorName = EditMovie.addEntry(actorName, release.actorName)" ng-init="actorName = null;">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Actor Name" ng-model="actorName">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Add</button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 spacing">
                    <label>Actress</label>
                    <span class="badge" ng-repeat="actress in release.actressName track by $index" style="margin-right: 5px;" ng-if="release.actressName.length">
                        {{actress}}
                        <i class="far fa-times-circle" style="cursor: pointer;" ng-click="EditMovie.removeEntry($index, release.actressName)"></i>
                    </span>
                    <form ng-submit="actressName = EditMovie.addEntry(actressName, release.actressName)" ng-init="actressName = null;">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Actress Name" ng-model="actressName">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Add</button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 spacing">
                    <label>Distributors</label>
                    <span class="badge" ng-repeat="distributor in release.distributors track by $index" style="margin-right: 5px;" ng-if="release.distributors.length">
                        {{distributor}}
                        <i class="far fa-times-circle" style="cursor: pointer;" ng-click="EditMovie.removeEntry($index, release.distributors)"></i>
                    </span>
                    <form ng-submit="distributors = EditMovie.addEntry(distributors, release.distributors)" ng-init="distributors = null;">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Distributor Name" ng-model="distributors">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Add</button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 spacing">
                    <label>Age Rating</label>
                    <select class="form-control" ng-options="rating as rating.name for rating in EditMovie.requiredData.ageRatings" ng-model="release.ageRatings"></select>
                </div>
                <div class="col-sm-6 spacing">
                    <label>Links</label>
                    <input type="text" class="form-control" ng-model="release.links">
                </div>
                <div class="col-sm-6 spacing">
                    <label>Release Type</label>
                    <select class="form-control" ng-options="release as release.type for release in EditMovie.requiredData.releaseType" ng-model="release.releaseType"></select>
                </div>
                <div class="col-sm-6 spacing">
                    <label>Poster</label>
                    <input type="text" class="form-control" ng-model="release.poster">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="newReleaseModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New Release</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6 spacing">
                        <label>Country</label>
                        <input type="text" class="form-control" ng-model="tempMovie.country">
                    </div>
                    <div class="col-sm-6 spacing">
                        <label>Date</label>
                        <input type="date" class="form-control" ng-model="tempMovie.date">
                    </div>
                    <div class="col-sm-6 spacing">
                        <label>Director</label>
                        <input type="text" class="form-control" ng-model="tempMovie.directorName">
                    </div>
                    <div class="col-sm-6 spacing">
                        <label>Producer</label>
                        <input type="text" class="form-control" ng-model="tempMovie.producerName">
                    </div>
                    <div class="col-sm-6 spacing">
                        <label>Actor</label>
                        <input type="text" class="form-control" ng-model="tempMovie.actorName">
                    </div>
                    <div class="col-sm-6 spacing">
                        <label>Actress</label>
                        <input type="text" class="form-control" ng-model="tempMovie.actressName">
                    </div>
                    <div class="col-sm-6 spacing">
                        <label>Distributors</label>
                        <input type="text" class="form-control" ng-model="tempMovie.distributors">
                    </div>
                    <div class="col-sm-6 spacing">
                        <label>Age Rating</label>
                        <select class="form-control" ng-options="rating as rating.name for rating in EditMovie.requiredData.ageRatings" ng-model="tempMovie.ageRatings"></select>
                    </div>
                    <div class="col-sm-6 spacing">
                        <label>Links</label>
                        <input type="text" class="form-control" ng-model="tempMovie.links">
                    </div>
                    <div class="col-sm-6 spacing">
                        <label>Release Type</label>
                        <select class="form-control" ng-options="release as release.type for release in EditMovie.requiredData.releaseType" ng-model="tempMovie.releaseType"></select>
                    </div>
                    <div class="col-sm-6 spacing">
                        <label>Poster</label>
                        <input type="text" class="form-control" ng-model="tempMovie.poster">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
