<div class="row">
    <div class="col-sm-12" style="padding: 20px 15px; margin-bottom: 15px; border-bottom: 1px solid #aaa;">
        <button class="btn btn-success pull-right" ng-click="MovieList.addNewMovieModal()">New Movie</button>
    </div>
    <div class="col-sm-12">
        <h3 ng-if="!MovieList.moviesList.length" style="text-align: center;">No movies to show</h3>
        <ul class="list-group" ng-if="MovieList.moviesList.length">
            <li class="list-group-item movieList"
            ng-repeat="movie in MovieList.moviesList"
            style="margin-bottom: 10px;">
                <!-- ng-class="i % 2 == 0 ? 'complete' : 'inComplete'" -->
                <img ng-src="{{movie.poster}}" alt="">
                <div>
                    <h3>
                        {{movie.name}}
                        <i class="far fa-trash-alt pull-right customIcon" style="color: #f19494;"></i>
                        <i class="far fa-edit pull-right customIcon" style="color: #8bc34a;" ng-click="MovieList.editMovie(i)"></i>
                        <!-- <i class="far fa-plus-square pull-right" style="color: #8bc34a; cursor: pointer;"></i> -->
                    </h3>
                    <span class="badge" ng-repeat="release in movie.release" style="margin-right: 5px;">
                        <span>{{release.country}}</span>
                        <span>({{release.date | date: 'dd/MMM/yyyy'}})</span>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="newMovieModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Movie</h4>
            </div>
            <form ng-submit="MovieList.addNewMovie()">
                <div class="modal-body">
                    <label>Movie Name</label>
                    <input type="text" name="movieName" class="form-control" ng-model="MovieList.movieName">
                    <!-- <button type="submit" class="btn btn-info">Add</button> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
